<header>
    <div class="first-component">
        <mat-icon>table_chart</mat-icon>
        <p>Team Tasks</p>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div class="last-component">
        <div class="interact-icon">
            <mat-icon>filter_list</mat-icon>
            <mat-icon>person_outline</mat-icon>
        </div>

    
        <div class="new-item">
            <div class="new-item-container">
                <p>New Item</p>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>

        </div>
    </div>

 
</header>
