:host div{
    color: rgb(49, 49, 49);
    display: inline-flex;
    align-items: center;
    background-color: #F5F6F8;
    text-align: center;
    padding: .5em 3em;
    position: relative;
    margin-right: .2em;
    margin-bottom: .1em;
    width: 100%;
    justify-content: center;
}

:host p{
    margin:0;
    white-space: nowrap;
}

:host{
    display: flex;
}

.first-component .bara{
    position: absolute;
    height: 100%;
    width: 10px;
    top:0;
    left:1em;
    padding: 0;
}

.first-component{
    padding-right: 1em !important;
}


 mat-icon{
    margin-right: .4em;
}
.first-component mat-icon{
    margin-left: 2em;
    transform: scale(0.8);
}

