

<header>
    <div class="week">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <p [ngStyle]="{'color': color1}"> This Week</p>
    </div>
    <div>
        <p>Owner</p>
    </div>
    <div>
        <p>Status</p>
    </div>
    <div>
        <p>Date</p>
    </div>
    <div>
        <p>Priority</p>
    </div>
    <div>
        <p>Time est</p>
    </div>
    <div>
        <p></p>
    </div>
</header>
<span *ngIf="nr == '1'">
    <app-task colStatus="#F9B25E" owner="Scrob"title = "Creare baza de date" colPrio="#EECF7E" time="7h"></app-task> 
    <app-task title = "Ecran TeamTask" owner="Teodorescu" status="Waiting for review" prio="Hight" time="5d"></app-task> 
    <app-task title = "Ecran Login" owner="Tataruca" status="Done" colStatus="#61F95E" date="28Iun" prio="Low" colPrio="#7EEE90" time=" 2d" ></app-task> 
    <app-task title = "Ecran TaskOverview" colStatus="#F9B25E" date="4Feb" colPrio="#EECF7E"></app-task> 
</span>

<span *ngIf="nr == '2'">
    <app-task colStatus="#F9B25E" owner="Scrob"title = "Conectare baza de date" colPrio="#EECF7E" time="7h"></app-task> 
    <app-task title = "Ecran TeamTask" owner="Teodorescu" status="Waiting for review" prio="Hight" time="5d"></app-task> 
</span>